.about{padding-top: 0;
    //padding-bottom: 94px;
    padding-bottom: 60px;
&__list{
   // margin-top: 50px;
    //display: flex;
    //max-width: 100%;
    //height: auto;
margin-bottom: -30px ;}
&__title{
    margin: 0;
    @include font (36px, 700, 1.16);
    text-align: center;
    color:var(--title-text-color);}
&__container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;}
&__item
//:not(:last-child)
//{margin-right: 30px;}
{margin-bottom: 30px;}
&__item{position: relative;}
}
    
    
  