.clients{
padding-top: 60px;
padding-bottom: 60px;
@include desktop {padding-top: 94px;
padding-bottom: 94px;}
&__logo{fill: currentColor;}
&__title{
    margin-bottom: 30px;
    @include font (28px, 700, 1.18);
    text-align: center;
    color:var(--title-text-color);}
&__list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
//&__list li:not(:last-child)
//{margin-right: 30px;}

&__item
{width: 100%;
box-sizing: border-box;}
&__link{
    display: flex;
    width: 100%;
    //display: inline-flex;
    //width:210px;
   // @include desktop{width: 170px;};
   // @include mobile{display: inline-flex; width:210px;}
    height:92px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    color: #AFB1B8;
    transition-property: color, border, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover{color: var(--accent-color);
    border: 1px solid var(--accent-color);}
    &S:focus{color: var(--accent-color);
        border: 1px solid var(--accent-color);}}}

@media screen and (min-width: 480px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
}
    
    
    
 
    
  