.antena::before{
    margin-bottom: 30px;
    display: flex;
    
    content: "";
    background-image: url(../images/icons.svg/Vector\(1\).svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    background-color:var(--background-light-color) ;
    border-radius: 4px;}
    
.clock::before{
    margin-bottom: 30px;
    display: flex;
    
    content: "";
    background-image: url(../images/icons.svg/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    background-color:var(--background-light-color) ;
    border-radius: 4px;}
.diagram::before{
    margin-bottom: 30px;
    display: flex;
    
    content: "";
    background-image: url(../images/icons.svg/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    background-color:var(--background-light-color) ;
    border-radius: 4px;}  
.astronaut::before{
    margin-bottom: 30px;
    display: flex;
    
    content: "";
    background-image: url(../images/icons.svg/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    background-color:var(--background-light-color) ;
    border-radius: 4px;}
    
    .work{
        padding-top: 60px;
        padding-bottom: 60px;
        @include desktop {padding-top: 94px;
        padding-bottom: 94px;}
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;}
    &__title {
        text-align: center;
        @include tablet {text-align:left};
        @include font (14px, 700, 1.14);
        text-transform: uppercase;
        color:var(--title-text-color);} 
    &__text{
        margin-top: 12px;
        @include font (null, null, 1.71);
        color:var(--primary-text-color);}
    &__item
    //:not(:last-child)
    //{margin-right: 30px;}
    {width: 100%;
        @media screen and (min-width:768px) {
            width: calc((100% - 30px)/2);}  
            @media screen and (min-width:1200px) {
                width: calc((100% - 90px)/4);}    }
    }
    
   