.button.footer-submit {
    padding: 10px 62px 10px 28px;
        height: 50px;
        min-width: 200px;
        border: none;
        border-radius: 4px;
        color: var(--secondary-color);
        background-color: var(--accent-color);
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        text-align: center;
        box-shadow: transparent;
        cursor: pointer;
        &:hover{box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);}
        &:focus{box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);}}
   
  .btn-wrapper {
    display: block;
    position: relative; 
  & .icon {
    position: absolute;
    top: 13px;
    right: 28px;}}
  
  