.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(49, 50, 61, 0.443);
    position: fixed;
    top: 0;
    transition: opacity 600ms, visibility 600ms;}
    
    .modal {
    width: 528px;
    min-height: 581px;
    border-radius: 4px;
    padding: 40px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 300ms;
    .backdrop.is-hidden & {transform: translate(0), scale(0), rotate(180deg);}
  }
    .modal__close--btn {
    padding: 0;
    cursor: pointer;
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    align-items: center;
    justify-content: center;
    fill: #000000;
    background-color: transparent;
    transition: fill var(--timing-function) var(--cubic);
  &:hover{fill: var(--accent-color);}
  &:focus{fill: var(--accent-color);}
  }
    .is-hidden {
    visibility: none;
    opacity: 0;
    pointer-events: none;}    
    
    .form__field:nth-child(-n + 3) {
        margin-bottom: 10px;
        transition: fill var(--timing-function)  var(--cubic); }
    .form__field:focus-within,
    .form__field:hover {fill: var(--accent-color);}
    .form__field label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
  &:not(:last-child) {
    display: block;
    margin-bottom: 4px; } }
    
    .modal__title{
      margin-bottom: 12px;
      color: var(--title-text-color);
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;} 
      .modal__input {
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 12px 12px 12px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        transition: border-color var(--timing-function) var(--cubic),
          box-shadow var(--timing-function) var(--cubic);
        &:focus-within{
          border-color: var(--accent-color);
          outline: none;}
        &:hover{border-color: var(--accent-color);
          outline: none;}
        }
   
    .input__wrap {position: relative;}
    .modal__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);}
    .form__field.comment {margin-bottom: 20px;}
    textarea {
    display: block;
    outline: none;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--timing-function) var(--cubic),
          box-shadow var(--timing-function) var(--cubic);
    &:placeholder-shown {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);}
      &:focus-within{
      border-color: var(--accent-color);
      outline: none;}
      &:hover {border-color: var(--accent-color);
      outline: none;}
    }
       
    .form__field.check {margin-bottom: 30px;}
    
    .visually-hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}
    
    .check__text {
    display: flex;
    align-items: center;
    justify-content: center;
  & span {
    position: relative;
    background-color: transparent;
    transition:
    background-color var(--cubic) var(--timing-function),
    border var(--cubic) var(--timing-function);
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
  .modal__check:hover + & {border-color: var(--accent-color);}
  .modal__check:focus + & {border-color: var(--accent-color);}
  .modal__check:checked + & {background-color: var(--accent-color);
    border: none;}}}
    .check__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    margin-left: 4px;
    color: var(--accent-color);
    text-decoration: underline;}
    
    .check__icon {
    fill: transparent;}
        
    .button.modal-submit {
    padding: 10px 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    min-width: 200px;
    border: none;
    border-radius: 4px;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    box-shadow: transparent;
    cursor: pointer;
    &:hover{box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);}
    &:focus{box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);}
  }
    
    